<ng2-flatpickr class="hello" [config]="options" formControlName="formControlName" (change)="onClick($event)"></ng2-flatpickr>

<div *ngFor="let datas of data; let i = index">List
  <ng2-flatpickr [config]="options" id="test{{i}}" formControlName="formControlName" (change)="onClick($event)"></ng2-flatpickr>
</div>
<button (click)="addSkill()" class="btn btn-primary">Add New Skill</button>
